/training/data
/training/runs
/training/tennis-ball-detection-6

*pt
*avi
*mp4
*png
*jpg
*jpeg
*pt

/input_videos
/output_videos

/utils/__pycache__
/trackers/__pycache__
/tracker_stubs
/models
/mini_court/__pycache__
/court_line_detector/__pycache__
/constants/__pycache__
/runs
/detect

/yolo_inference.py
/.DS_Store